{% extends 'base.html.twig' %}

{% block title %}Add question{% endblock %}

{% block body %}
    <div class="container">

        {{ include('survey/_form_add_question.html.twig') }}

        <a class="btn btn-dark" href="{{ path('survey_index') }}">Back</a>
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('addAnswerOption') }}
    {{ parent() }}
{% endblock %}