{% extends 'base.html.twig' %}

{% block title %}Edit survey{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit survey</h1>

        {{ include('survey/_form_edit.html.twig') }}

        <a class="btn btn-dark" href="{{ path('survey_index') }}">Back</a>

        {{ include('survey/_delete_form.html.twig') }}
    </div>
{% endblock %}
