{% extends 'base.html.twig' %}

{% block title %}Create new survey{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create new survey</h1>

        {{ include('survey/_form.html.twig') }}

        <a class="btn btn-dark" href="{{ path('survey_index') }}">Back</a>
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('addAnswerOption') }}
    {{ parent() }}
{% endblock %}
