{% extends 'base.html.twig' %}

{% block title %}Apklausos rezultatai{% endblock %}

{% block body %}
    <div class="container">
        <h1>Apklausos rezultatai</h1>

        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th scope="col"><center>Atsakymas</center></th>
                <th scope="col"><center>Kiek kartų buvo pasirinktas</center></th>
            </tr>
            </thead>
            <tbody>
        {% for question in all_questions %}
            <tr>
                <td colspan="2"><center>{{ question.title|capitalize }}</center></td>
                {% for answer in question.answerOptions %}
                    <tr>
                        <td><center>{{ answer.answer|capitalize }}</center></td>
                        {% for key, res in all_answers %}
                            {% if key == answer.id %}
                                <td><center>{{ res }}</center></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tr>

        {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-dark" href="{{ path('survey_index') }}">Atgal</a>
    </div>
{% endblock %}