{% extends 'base.html.twig' %}

{% block title %}{{ survey.title|capitalize }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ survey.title|capitalize }}</h1>

        {{ include('attend_survey/_form.html.twig') }}

        <a class="btn btn-dark" href="{{ path('home_page') }}">Atgal</a>
    </div>
{% endblock %}
